:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: "outfit-norm";
  font-weight: 400;
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "outfit-smbold";
  font-weight: 600;
  src: url("assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "outfit-bold";
  font-weight: 700;
  src: url("assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "young-serif";
  font-weight: 400;
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "outfit-norm";
  color: var(--Stone-600);
  background-color: var(--Stone-100);
}

h1 {
  color: var(--Stone-900);
}

h2 {
  color: var(--Brown-800);
  font-family: "young-serif";
}

p {
  font-size: 16px;
}

img {
  width: clamp(256px, 70%, 512px);
  border-radius: 10px;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 2rem 0;
  background: var(--Stone-100);
}

table {
  border-collapse: collapse;
  width: 70%;
  padding: 15px;
}

td {
  padding: 15px;
}

.tr-bottom-border {
  width: 100%;
  border-bottom: 1px solid var(--Stone-150);
}

.outfit-bold {
  font-family: "outfit-bold";
}

/*Flexbox container that centers it's content.*/
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-container.center {
  align-items: center;
  justify-content: center;
}

.flex-container.recipe {
  width: clamp(375px, 50%, 850px);
  background-color: var(--White);
  border-radius: 10px;
  padding: 20px;
}

.brown-800 {
  color: var(--Brown-800);
}

#prep-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: clamp(200px, 100%, 700px);
  padding: 15px;
  border-radius: 10px;
  background-color: var(--Rose-50);
}

#prep-time h2 {
  color: var(--Rose-800);
}

#nutrition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#nutrition table {
  align-self: center;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
